<ion-tabs>
  <ion-tab-bar [translucent]="true"  mode="ios"  slot="bottom">
    <ion-tab-button tab="home">
      <i class="fi fi-rr-house-blank"></i>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule" >
      <i class="fi fi-rr-calendar-heart"></i>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user" >
      <i class="fi fi-rr-user"></i>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="config" >
      <i class="fi fi-rr-settings"></i>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>

   
  </ion-tab-bar>
</ion-tabs>